
/*!** app/containers/administration/setup/index.css **!*/

/*!* table *!*/
/*.custab{*/
    /*border: 1px solid #ccc;*/
    /*padding: 5px;*/
    /*margin: 2% 0;*/
    /*box-shadow: 3px 3px 2px #ccc;*/
    /*transition: 0.5s;*/
/*}*/
/*.license {*/
    /*height: 50px;*/
    /*margin-top: 5px;*/
    /*padding-top: 7px;*/
    /*margin-bottom: 10px;*/
    /*background: #d9e5f7;*/
/*}*/
/*.add-license {*/
    /*margin-right: -14px;*/
    /*margin-bottom: 4px;*/
/*}*/
/*.list-installer>tbody>tr>td {*/
    /*line-height: 2;*/
/*}*/
/*!*.custab:hover{*!*/
    /*!*box-shadow: 3px 3px 0px transparent;*!*/
    /*!*transition: 0.5s;*!*/
/*!*}*!*/
/*.custyle {*/
    /*margin-left: -13px;*/
/*}*/
/*.custyle tr {*/
    /*text-align: center;*/
    /*background: white;*/
    /*border: 1px solid rgb(255, 255, 255);*/
/*}*/
/*.table-bordered>thead>tr>th {*/
    /*border: 1px solid rgb(255, 255, 255);*/
/*}*/
/*.go-to .pull-right {*/
    /*margin-top: -20px;*/
/*}*/
/*.pull-right .fa {*/
    /*margin-right: 1px;*/
    /*font-size: 17px;*/
    /*!* margin-top: -6px; *!*/
/*}*/

/*.sidenav {*/
    /*height: 100%;*/
    /*width: 0;*/
    /*position: fixed;*/
    /*z-index: 1;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background-color: #fff;*/
    /*overflow-x: hidden;*/
    /*transition: 0.5s;*/
    /*padding-top: 60px;*/
    /*box-shadow: 1px 1px 4px 0px rgba(128, 128, 128, 0.62);*/

/*}*/

/*.sidenav a {*/
    /*!*padding: 8px 8px 8px 32px;*!*/
    /*text-decoration: none;*/
    /*!*font-size: 25px;*!*/
    /*color: #818181;*/
    /*display: block;*/
    /*transition: 0.3s;*/
/*}*/

/*!*.sidenav a:hover, .offcanvas a:focus{*!*/
    /*!*color: #f1f1f1;*!*/
/*!*}*!*/

/*.sidenav .closebtn {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 25px;*/
    /*font-size: 36px;*/
    /*margin-left: 50px;*/
/*}*/

/*#main {*/
    /*transition: margin-left .5s;*/
    /*padding: 16px;*/
/*}*/

/*@media screen and (max-height: 450px) {*/
    /*.sidenav {padding-top: 15px;}*/
    /*.sidenav a {font-size: 18px;}*/
/*}*/
/*span.open-menu {*/
    /*color: #FFFFFF;*/
    /*padding-top: 14px;*/
    /*position: absolute;*/

/*}*/
/*.bg-tbl-head {*/
    /*background: #dfe8f6;*/
    /*!* border: 1px solid red; *!*/
/*}*/
/*.table>tbody>tr:hover{*/
    /*background: lightgray;*/
    /*cursor: pointer;*/
/*}*/
/*.table>thead>tr{*/
    /*background: #d9e5f7;*/
    /*text-align: center;*/
/*}*/
/*.table>thead>tr>th{*/
     /*text-align: center;*/
 /*}*/
/*ul.button-style li {*/
    /*list-style-type: none;*/
    /*float: right;*/
    /*margin-right: 10px;*/
/*}*/
/*.my-custom-export {*/
    /*background: #3072ab;*/
    /*color: white;*/
    /*padding: 7px;*/
    /*border: navajowhite;*/
    /*border-radius: 5px;*/
/*}*/
/*.text-align-right.map {*/
    /*text-align: right !important;*/
/*}*/