/*.panel-heading.subsidy {*/
    /*background:#1c91d0;*/
    /*height: 50px;*/
/*}*/
/*.panel-heading.subsidy ul {*/
    /*list-style-type: none;*/
/*}*/
/*.panel-heading.subsidy ul li {*/
    /*margin-top: 0px;*/
    /*float: left;*/
    /*padding: 11px 0px 1px 3px;*/
    /*background: transparent;*/
/*}*/
/*.panel-heading.subsidy ul {*/
    /*padding-left: 0;*/
    /*height: 43px;*/
    /*background: #f5f5f5;*/
    /*margin: -7px -13px 0px -12px;*/
/*}*/
/*.panel-heading.subsidy ul li a {*/
    /*background: #cecece;*/
    /*padding: 4px;*/
/*}*/
/*.panel-heading.subsidy ul li a:hover {*/
    /*background: rgb(212, 212, 212);*/
    /*padding: 4px;*/
    /*text-decoration: none;*/
/*}*/