/*!* report - prepaid *!*/

/*!* invoice daily report css *!*/
/*.mini-report-wrapper {*/
    /*width: 450px;*/
    /*margin: auto;*/
    /*padding: 25px;*/
/*}*/
/*table.mini-report {*/
    /*width: 100%;*/
/*}*/
/*h5.mini-report-title {*/
    /*font-family: "Khmer Muol";*/
    /*font-size: 18px;*/
/*}*/
/*table.mini-report>thead>tr>td {*/
    /*background: #c1c1c1;*/
    /*padding: 4px;*/
/*}*/
/*table.mini-report>tbody>tr>td {*/
    /*border: 1px solid gray;*/
/*}*/
/*table.mini-report>thead>tr>td {*/
    /*border: 1px solid gray;*/
/*}*/


/*table.prepaid-res-report.table.table-striped.table-bordered.table-condensed>thead>tr {*/
    /*background: #afafaf;*/
/*}*/
/*.prepaid-res-report.table.table-striped.table-bordered.table-condensed>tbody>tr>td {*/
    /*background-color: #ffffff;*/
    /*page-break-inside: avoid;*/
    /*white-space: nowrap;*/
    /*padding: 15px;*/
/*}*/
/*.wrap-search ul li {*/
    /*float: left;*/
    /*padding-right: 15px;*/
    /*list-style-type: none;*/
/*}*/
/*.wrap-search ul {*/
    /*background: rgba(175, 175, 175, 0.31);*/
    /*height: 55px;*/
    /*padding: 10px;*/
    /*width: 476px;*/
/*}*/
/*p.title-invoice-ref {*/
    /*font-size: 21px;*/
    /*padding: 7px;*/
    /*font-weight: bold;*/
/*}*/
/*#test-table-xls-button-report-ref {*/
    /*background: #2e6da3;*/
    /*padding: 7px;*/
    /*color: white;*/
    /*border: none;*/
    /*border-radius: 3px;*/
    /*background-image: -webkit-linear-gradient(top,#337ab7 0,#265a88 100%);*/
    /*background-image: -o-linear-gradient(top,#337ab7 0,#265a88 100%);*/
    /*background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));*/
    /*background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);*/
    /*background-repeat: repeat-x;*/
/*}*/
/*#test-table-xls-button-report-ref:hover {*/
    /*background-color: #265a88;*/
    /*background-position: 0 -15px;*/
/*}*/
/*table.prepaid-res-report.table.table-striped.table-bordered.table-condensed>thead>tr.custom-header-table>th {*/
    /*background: white;*/
/*}*/
/*p.padding-5px {*/
    /*padding: 5px;*/
/*}*/

/*h2.top-header {*/
    /*font-size: 26px;*/
    /*font-family: "Khmer Moul";*/
/*}*/
/*h4.header-report {*/
    /*font-family: "Khmer OS Muol";*/
    /*font-size: 16px;*/
/*}*/
/*p.prepaid-header {*/
    /*font-family: "Kh Siemreap";*/
    /*font-size: 14px;*/
/*}*/
/*table.prepaid-res-report.table.table-striped.table-bordered.table-condensed>tbody>tr.total>td {*/
    /*background: #afafaf;*/
    /*padding: 12px;*/
/*}*/
/*!* table.mini-report>thead>tr>td {*/
    /*background: #c1c1c1;*/
    /*padding: 4px;*/
/*}*/
/*table.mini-report>tbody>tr>td {*/
    /*border: 1px solid gray;*/
/*}*/
/*table.mini-report>thead>tr>td {*/
    /*border: 1px solid gray;*/
/*} *!*/
/*table.prepaid-res-report.table.table-striped.table-bordered.table-condensed>thead>tr>th.bg-none {*/
    /*background: white;*/
/*}*/
/*@media print { body { -webkit-print-color-adjust: exact; } }*/

/*@media print {*/

    /*.prepaid-res-report.table.table-striped.table-bordered.table-condensed>thead>tr>th {*/
        /*background-color: #afafaf !important;*/
    /*}*/
    /*.prepaid-res-report.table.table-striped.table-bordered.table-condensed>tbody>tr>td {*/
        /*background-color: #ffffff !important;*/
        /*page-break-inside: avoid;*/
        /*white-space: nowrap;*/
        /*padding: 15px;*/
    /*}*/
    /*h2.top-header {*/
        /*font-size: 27px !important;*/
        /*font-family: "Khmer Moul" !important;*/
    /*}*/
    /*h4.header-report {*/
        /*font-family: "Khmer OS Muol" !important;*/
        /*font-size: 16px !important;*/
    /*}*/
    /*p.prepaid-header {*/
        /*font-family: "Kh Siemreap" !important;*/
        /*font-size: 14px !important;*/
    /*}*/
    /*table.prepaid-res-report.table.table-striped.table-bordered.table-condensed>tbody>tr.total>td {*/
        /*background: #afafaf !important;*/
    /*}*/
    /**/
    /*table.mini-report>thead>tr>td {*/
        /*background: #c1c1c1 !important;*/
        /*padding: 4px;*/
    /*}*/
    /*table.mini-report>tbody>tr>td {*/
        /*border: 1px solid gray !important;*/
    /*}*/
    /*table.mini-report>thead>tr>td {*/
        /*border: 1px solid gray !important;*/
    /*}*/
    /*h5.mini-report-title {*/
        /*font-family: "Khmer Muol" !important;*/
        /*font-size: 16px !important;*/
    /*}*/
    /*p.padding-5px {*/
        /*padding: 5px !important;*/
    /*}*/
    /*table.prepaid-res-report.table.table-striped.table-bordered.table-condensed>thead>tr.custom-header-table>th {*/
        /*background: white !important;*/
    /*}*/
/*}*/


/*#button_report_ref_12_months {*/
    /*background: #1c91d0;*/
    /*border: 0;*/
    /*padding: 5px;*/
    /*color: white;*/
    /*height: 32px;*/
/*}*/
