/*img.bvc-logo {*/
    /*width: 100%;*/
/*}*/
/*h2.kingdom-cam {*/
    /*font-family: 'Khmer Muol';*/
/*}*/
/*h3.new-install{*/
    /*font-family:  "Khmer OS Bokor";*/
/*}*/
/*.table>tbody+tbody {*/
     /*border-top: none;*/
/*}*/
/*tbody.body-no-border>tr>td {*/
    /*border: none;*/
/*}*/
/*p.request-by {*/
    /*padding-bottom: 30px;*/
    /*margin-top: 10px;*/
/*}*/
/*p.approve-bye {*/
    /*padding-bottom: 30px;*/
    /*margin-top: 10px;*/
/*}*/
/*table.table.report.table-bordered {*/
    /*border: none;*/
/*}*/
/*@media print {*/
    /*img.bvc-logo {*/
        /*width: 100%;*/
        /*margin-top: 15px !important;*/
    /*}*/
    /*tbody.body-no-border>tr>td {*/
        /*border: none !important;*/
    /*}*/
    /*tbody.body-no-border{*/
        /*text-align: center !important;*/
    /*}*/
    /*thead.bg-head {*/
        /*background-color: rgba(28, 145, 208, 0.42) !important;*/
    /*}*/
    /*@page {*/
        /*!*size: landscape;   !* auto is the initial value *!*!*/
        /*!*margin: 0;  !* this affects the margin in the printer settings *!*!*/
    /*}*/
    /*button#test-table-xls-button {*/
        /*display: none;*/
    /*}*/
/*}*/

