.cmp-align-center {
    text-align:center;
}
.title-text{
    margin-top:50px;
    font-family:'Centaur';
    font-weight:bold;
}
.desc-text {
    font-family:'Calibri Light';
    font-size:20pt;
    text-align: center;
}
.vision-text {
    font-family:'Calibri Light';
    font-size:24pt;
}