/*!***/
    /*containers/menu/index.css*/
 /**!*/

/*!* table *!*/
/*.custab{*/
    /*border: 1px solid #ccc;*/
    /*padding: 5px;*/
    /*margin: 2% 0;*/
    /*box-shadow: 3px 3px 2px #ccc;*/
    /*transition: 0.5s;*/
/*}*/
/*.custab:hover{*/
    /*box-shadow: 3px 3px 0px transparent;*/
    /*transition: 0.5s;*/
/*}*/
/*.custyle {*/
    /*margin-left: -13px;*/
/*}*/
/*.custyle tr {*/
    /*text-align: center;*/
    /*background: rgba(195, 217, 251, 0.42);*/
    /*border: 1px solid rgb(255, 255, 255);*/
/*}*/
/*.table-bordered>thead>tr>th {*/
    /*border: 1px solid rgb(255, 255, 255);*/
/*}*/

/*.menu-scroll-box {*/
    /*border: 1px solid #ccc;*/
    /*height: 400px;*/
    /*font-size: 12px;*/
    /*overflow: auto;*/
    /*margin-bottom: 10px;*/
    /*line-height: 5px;*/
/*}*/
/*.menu-scroll-box ul {*/
    /*margin: 0 30px;*/
    /*padding: 0;*/
/*}*/

/*.keysearch .form-control {*/
    /*width: 300px;*/
/*}*/

/*.text-align-center {*/
    /*text-align: center;*/
/*}*/