/* header navigation component */
.navbar {
    /*border-radius: inherit;*/
    /*border: none;*/
    /*background: rgba(209, 209, 209, 0.2);*/
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height:120px;
    z-index: 1;
}
a{
    text-decoration: none ;
    color:gray;
    font-weight: bold;
}
a:hover{
    color:#000000;
    text-decoration:none;
    cursor:pointer;
}
a:visited  {
    background-color: yellow;
}

/* menu web component */
/*.menu-bk-color {*/
    /*background-color: rgba(209, 209, 209, 0.2);*/
/*}*/
/*.menu-text-layout {*/
    /*text-align: center;*/
    /*height:200px;*/
    /*padding: 30px;*/
/*}*/

/*.menu-bk-color {*/
    /*background-color: rgba(209, 209, 209, 0.2);*/
/*}*/
/*.menu-text-layout {*/
    /*text-align: center;*/
    /*height:60px;*/
    /*padding: 30px;*/
/*}*/
/*.menu-navigation{*/
    /*margin-top: -19px;*/
    /*margin-bottom: -20px;*/
    /*margin-left:-15px;*/
    /*margin-right:-16px;*/
/*}*/


/* menu web */

/* footer */
.footer-bk-color {
    background-color: rgba(209, 209, 209, 0.2);
}
.footer-content{
    margin-top: 80px;
    margin-bottom: 20px;
}