.cmp-align-center {
    text-align:center;
}
.abt-title{
    margin-top:100px;
    font-family:'Centaur';
    font-size:40pt;
    font-weight:bold;
}
.abt-desc{
    margin-top:40px;
    font-family:'Calibri Light';
    font-size:20pt;
}

