/*.rbt-token-removeable {*/
    /*cursor: pointer;*/
    /*padding-right: 21px;*/
    /*margin-top: 0.1%;*/
/*}*/

/*.rbt-input-multi .rbt-input-main {*/
    /*padding: 5px !important;*/
    /*margin: 1px 0 4px;*/
/*}*/

/*.rbt-input-multi {*/
    /*padding-top: 0.5% !important;*/
    /*height: 34px !important;*/
    /*margin-bottom: -1px !important;*/
    /*margin-top: -1px !important;*/
/*}*/

/*.rbt-input {*/
    /*height: 34px;*/
    /*padding-top: 3%;*/
    /*-webkit-box-flex: 1;*/
    /*-moz-box-flex: 1;*/
    /*-webkit-flex: 1;*/
    /*-ms-flex: 1;*/
    /*flex: 1;*/
    /*overflow: hidden;*/
    /*position: relative;*/
/*}*/
/*.cus-info-label{*/
    /*font-weight: bold;*/
/*}*/

/*.cus-info-label-status{*/
    /*font-weight: bold;*/
    /*background: blue;*/
    /*color: white;*/
/*}*/

/*.cus-info-btn{*/
    /*float: right;*/
    /*font-size: 13px;*/
    /*height: 25px;*/
    /*background: #1c91d0;*/
    /*color: white;*/
    /*padding-bottom: 0px;*/
    /*padding-top: 0px;*/
    /*box-shadow: none;*/
    /*text-shadow: none;*/
/*}*/
/*.table.table-inverse.customer-information>tbody>tr>td {*/
    /*line-height: 2;*/
    /*text-align: center;*/
/*}*/
/*.search-result.table.table-bordered.table-condensed.table-hover>tbody>tr>td {*/
    /*line-height: 1;*/
/*}*/