/*fieldset {*/
    /*border: 1px solid #ddd !important;*/
    /*margin: 0;*/
    /*min-width: 0;*/
    /*padding: 10px 10px 0 10px;*/
    /*margin-bottom: 10px;   */
    /*position: relative;*/
    /*border-radius:4px;*/
    /*padding-left:10px!important;*/
/*}	*/

/*legend {*/
    /*font-size:14px;*/
    /*font-weight:bold;*/
    /*margin-bottom: 0px; */
    /*width: 35%; */
    /*border: 1px solid #ddd;*/
    /*border-radius: 4px; */
    /*padding: 3px 3px 3px 10px; */
    /*background-color:#f5f5f5;*/
/*}*/

/*.react-bs-table-pagination {*/
    /*margin-top: 10px;*/
    /*margin-left: 20px;*/
/*}*/