/**
    containers/index.css
 */
/*.panel-body .btn:not(.btn-block) { width:218px;margin-bottom:10px; margin-right: 2px; }*/

/**.panel-primary>.panel-heading{
    background: #dfe8f6;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #1C91D0;
    border-color: #dfe8f6;
}
.btn.btn-primary.btn-lg {
    background: rgb(26, 127, 181);
}
.btn.btn-primary.btn-lg:hover {
    background: rgb(24, 108, 146);
}
.margin_left_25 {
    margin-left: 25px;
}

.margin_top_minus_30 {
    margin-top: -30px;
}

button.bt-cancel.btn.btn-default {
    width: 84px;
}

.btn.btn-primary.home.btn-lg {
    width: 82%;
    margin-right: 7px;
    margin-bottom: 10%;
    background: rgba(28, 145, 208, 0.42);
    border: 1px solid rgba(28, 145, 208, 0.42);
}
.btn.btn-primary.home.btn-lg:hover {
     width:82%;
     margin-right: 7px;
     margin-bottom: 10%;
     background: rgba(28, 145, 208, 0.5);
     border: 1px solid rgba(28, 145, 208, 0.42);
 }
.icon-home img {
    width: 100px;
    height: 100px;
}
.panel-primary {
    border-color: #1c91d0;
}
**/
/** network management
.transformer-img img {
    width: 100px;
    height: 120px;
}
.customer-transformer {
    border: 1px solid #1c91d0;
    height: 150px;
    width: 81%;
    margin-bottom: 15px;
}
h3.transformer {
    margin-top: -10px;
    margin-left: 5px;
    width: 150px;
    background: #1c91d0;
    color: white;
    font-size: 14px;
    padding: 3px;
    text-align: center;
}
span.fix-width {
    padding-right: 84px;
}
h3.pole {
    width: 150px;
    margin-left: 5px;
    background: #1c91d0;
    color: white;
    font-size: 14px;
    padding: 3px;
    text-align: center;
    margin-top: -10px;
}
h3.box {
    width: 150px;
    margin-left: 5px;
    background: #1c91d0;
    color: white;
    font-size: 14px;
    padding: 3px;
    text-align: center;
    margin-top: -11px;
}
**/
/** menu

.clearfix:after {
    display:block;
    clear:both;
}
 **/
/*----- Menu Outline
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#1c91d0;
}

.menu {
    width:1600px;
    margin:0px auto;
}

.menu li {
    margin:0px;
    list-style:none;
    font-family:'Ek Mukta';
}

.menu a {
    transition:all linear 0.15s;
    color:white;
}

.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#FFFFFF;
}

.menu .arrow {
    font-size:11px;
    line-height:0%;
}
-----*/
/*----- Top Level
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}

.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#186b98;
}
-----*/
/*----- Bottom Level
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}

.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#186b98;
}

.sub-menu li {
    display:block;
    font-size:16px;
}

.sub-menu li a {
    padding:10px 30px;
    display:block;
}

.sub-menu li a:hover, .sub-menu .current-item a {
    background:#278bc1;
}

-----*/
/* table override smaller
.list-smaller-table {
    margin-top: 10px;
    min-width: 100%;
}

.list-smaller-table>thead>tr>th { 
    font-size: 13px;
    background: #DFE8F6;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.list-smaller-table>tbody>tr>td {
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid #ddd;
}

.list-smaller-table>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.transformer.col-lg-8.col-md-8 {
    padding-bottom: 14px;
}
  */
/***  View Installer
.table.table-inverse.search-installer>tbody {
    border: 1px solid black;
}
.table.table-inverse.search-installer>tbody>tr>td {
    border: 1px solid white;
    background: #d9e5f7;
    text-align: center;
    padding-bottom: 0;
}
.search-installer.form-group {
    margin-bottom: 5px;
}
.table.table-inverse.search-installer {
    margin-bottom: 5px;
}
p.search-installer {
    color: #1c91d0;
    line-height: 3;
    font-weight: 500;
    font-size: 14px;
}
.search-installer.btn.btn-primary.btn-block {
    border: 0;
    border-radius: inherit;
    background: #1c91d0;
}

button.btn.btn-default.pull-right.generate {
    margin-top: 20px;
}
****/
/* set status color
td.installing {  background: #0000FF; color: white;  }
td.installed {  background: green;  color: white;  }
td.re-install {  background: #a04141;  color: white;  }
td.new_customer { background: #1c91d0; color:white;}
button.form-requesting {  background: #1c91d0;  color: white;  padding: 10px;  border: navajowhite;  }
#test-table-xls-button {  background: #1c91d0;  border: 0;  padding: 10px;  color: white;  }
.table.table-bordered.table-striped.installer>tbody>tr>td {
    line-height: 1.2;
}
.table.table-inverse.search-installer>tbody>tr>td {
    line-height: 1.2;
}
.table.table-bordered.table-striped.installing>tbody>tr>td {
    line-height: 1.2;
}

a:hover {
    cursor:pointer;
}

.react-datepicker__input-container {
    width: 100%;
}

.panel-title {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.panel-default>.panel-heading {
    background: rgb(28, 145, 208);
    background-image: linear-gradient(to bottom,rgb(28, 145, 208) 0,rgb(28, 145, 208) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}

.table>thead>tr>td, .table>thead>tr>th {
    font-size: 14px !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding-bottom: 0 !important;
    line-height: 0.5;
    vertical-align: top;
    border-top: 1px solid #bdecfe;
}*/

/* table in finance  */
/*table.list-invoices-for-finance > tr, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
}*/

/*.panel-default {
    border-color: rgb(223, 232, 246);
}
.panel-default>.panel-heading {
    background: rgb(223, 232, 246);
    background-image: linear-gradient(to bottom,rgb(223, 232, 246) 0,rgb(223, 232, 246) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}
.panel {
    -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.08);
}*/


/*.panel-default {
    border-color: rgb(223, 232, 246);
}
.panel-default>.panel-heading {
    background: rgb(223, 232, 246);
    background-image: linear-gradient(to bottom,rgb(223, 232, 246) 0,rgb(223, 232, 246) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}
.panel {
    -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.08);
}*/

/*.panel-default {
    border-color: rgb(223, 232, 246);
}
.panel-default>.panel-heading {
    background: rgb(223, 232, 246);
    background-image: linear-gradient(to bottom,rgb(223, 232, 246) 0,rgb(223, 232, 246) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}
.panel {
    -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.08);
}*/