/*#button-success {
    width: 200px;
    margin: 10px auto;
    color: #0099cc;
    line-height: 1;
}
#button-error {
    width: 200px;
    margin: 100px auto;
}
#button-disabled {
    width: 200px;
    margin: 100px auto;
}
.wrap-search-by {
    border: 1px solid #296193;
    margin-left: 15px;
}
.bg-h4>h4 {
    font-size: 14px;
    color: white;
    background: #296395;
    margin-top: -13px;
    font-family: -webkit-pictograph;
    padding: 5px;
    text-align: center;
    width: 130px;
}
.button-ul>li {
    float: right;
    margin-right: 10px;
    list-style-type: none;
}
.custom-button {
    width: 144px;
    border-radius: 0;
    background: #296395;
}
*/
/* header sort by */
/*
th a:link,
th a:visited,
th a:hover,
th a:active {
	color: #333;
	text-decoration: none;
}

th a,
td a { 
	display: block;
    width: 100%;
}
th a.sort-by { 
	padding-right: 18px;
	position: relative;
}
a.sort-by:before,
a.sort-by:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}
a.sort-by:before {
	border-bottom-color: #666;
	margin-top: -9px;
}
a.sort-by:after {
	border-top-color: #666;
	margin-top: 1px;
}
*/