/*.download-table-xls-button.customer-installed {*/
    /*background: #2c699f;*/
    /*color: white;*/
    /*padding: 7px;*/
    /*border: 0;*/
    /*border-radius: 0px;*/
    /*margin-bottom: 5px;*/
/*}*/
/*.well.planning {*/
    /*!* background: #61c6c7;*/
    /*color: #055dab; *!*/
    /*background: #dfe8f6;*/
    /*color: black;*/
    /*font-weight: 500;*/
    /*margin-bottom: 0;*/
/*}*/