/*.with-nav-tabs.panel-default.installing .nav-tabs > li > a,*/
/*.with-nav-tabs.panel-default.installing .nav-tabs > li > a:hover,*/
/*.with-nav-tabs.panel-default.installing .nav-tabs > li > a:focus {*/
    /*color: #777;*/
/*}*/
/*.with-nav-tabs.panel-default.installing .nav-tabs > .open > a,*/
/*.with-nav-tabs.panel-default.installing .nav-tabs > .open > a:hover,*/
/*.with-nav-tabs.panel-default.installing .nav-tabs > .open > a:focus,*/
/*.with-nav-tabs.panel-default.installing .nav-tabs > li > a:hover,*/
/*.with-nav-tabs.panel-default.installing .nav-tabs > li > a:focus {*/
    /*color: #777;*/
    /*background-color: #ddd;*/
    /*border-color: transparent;*/
/*}*/
/*.with-nav-tabs.panel-default.installing .nav-tabs > li.active > a,*/
/*.with-nav-tabs.panel-default.installing .nav-tabs > li.active > a:hover,*/
/*.with-nav-tabs.panel-default.installing .nav-tabs > li.active > a:focus {*/
    /*color: #555;*/
    /*background-color: #fff;*/
    /*border-color: #ddd;*/
    /*border-bottom-color: transparent;*/
/*}*/
/*.with-nav-tabs.panel-default.installing .nav-tabs > li.dropdown .dropdown-menu {*/
    /*background-color: #f5f5f5;*/
    /*border-color: #ddd;*/
/*}*/
/*.with-nav-tabs.panel-default.installing .nav-tabs > li.dropdown .dropdown-menu > li > a {*/
    /*color: #777;*/
/*}*/
/*.with-nav-tabs.panel-default.installing .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,*/
/*.with-nav-tabs.panel-default.installing .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {*/
    /*background-color: #ddd;*/
/*}*/
/*.with-nav-tabs.panel-default.installing .nav-tabs > li.dropdown .dropdown-menu > .active > a,*/
/*.with-nav-tabs.panel-default.installing .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,*/
/*.with-nav-tabs.panel-default.installing .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {*/
    /*color: #fff;*/
    /*background-color: #555;*/
/*}*/
/*.nav.nav-tabs.installing {*/
  /*border-bottom: none;*/
/*}*/
/*.nav.nav-tabs.installing li a {*/
    /*padding: 10px;*/
    /*border-radius: 0;*/
/*}*/
/*.panel-heading.installing {*/
    /*background: #f1f1f1;*/
    /*padding: 0;*/
    /*text-align: center;*/
    /*background-image: linear-gradient(to bottom,rgb(241, 241, 241) 0,rgb(255, 255, 255) 100%);*/
/*}*/
/*.table.table-bordered.table-striped.custab>tbody>tr>td {*/
    /*line-height: 2;*/
/*}*/
/*.table-list-mv.table.table-bordered.table-condensed.table-hover>tbody>tr>td {*/
    /*line-height: 2;*/
/*}*/