.cmp-align-center {
    text-align:center;
}
.ser-title{
    margin-top:100px;
    font-family:'Centaur';
    font-size:30pt;
    font-weight:bold;
}
.ser-desc{
    margin-top:40px;
    font-family:'Calibri Light';
    font-size:20pt;
}

.ser-desc-room {
    font-family:'Calibri Light';
    font-size:20pt;
}
.ser-title-room {
    margin-top: 50px;
    font-family:'Centaur';
    font-size:30pt;
}
.desc-text {
    font-family:'Calibri Light';
    font-size:24pt;
}