.cmp-align-center {
    text-align:center;
}
.pfl-title{
    margin-top:100px;
    font-family:'Centaur';
    font-size:40pt;
    font-weight:bold;
}
.pfl-desc{
    margin-top:40px;
    font-family:'Calibri Light';
    font-size:24pt;
}

.pfl-company {
    font-family:'Calibri Light';
    font-size:20pt;
    font-weight:bold;
    text-align: center;
}
.pfl-company-desc {
    margin-top: 20px;
    font-family:'Calibri Light';
    font-size:15pt;
    text-align: center;
}
.desc-text {
    font-family:'Calibri Light';
    font-size:24pt;
}