/** app/component/form/style **/
.tr-string-example{
    font-style: oblique;
    color: red;
    background-color: aquamarine;
}

.tr-function-example{
    font-weight: bold;
    background-color: aquamarine;
}

.td-header-string-example{
    font-style: oblique;
    color: red;
    background-color: aquamarine;
}

.td-column-string-example{
    color: blue;
    background-color: antiquewhite;
}

.td-column-function-odd-example{
    color: blue;
    background-color: antiquewhite;
}

.td-column-function-even-example{
    color: red;
    background-color: yellowgreen;
}

.my-header-class {
    border: 1px;
    background-color: #ff5a00;
}

.my-body-class {
    margin-top: -22px;
}

.my-container-class {
    border: #0000FF 2.5px solid;
}

.my-table-container-class {
    border: #FFBB73 5px solid;
}

.class-for-editing-cell {
    background-color: #FFBB73;
}
.form_datepicker_style{
    width: 100%;
    height: 30px;
    padding-right: 5px;
    padding-left: 30px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*@media (min-width: 1900px) {
    .form_datepicker_style{
        width: 100%;
        min-width: 412px;
    }
}*/
.form-control.form_typeahead {
    width: 100%;
    height: 39px;
    padding-right: 5px;
    padding-left: 30px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.react-datepicker__month-container {
    width: 196px;
    font-size: 1.18rem;
    font-weight: bold;
}
.table.merchant>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 1px solid #f3f3f3;
    font-size: 17px;
    font-weight: 500;
    font-family: time;
}

.text-center.image-merchant {
    margin-top: 20px;
}
.table.merchant {
    margin-top: -11px;
}