/*@media print { body { -webkit-print-color-adjust: exact; } }*/
/*.normal-invoice.table.table-striped.table-bordered.table-condensed>thead>tr {*/
    /*background: transparent;*/
/*}*/
/*.normal-invoice.table.table-striped.table-bordered.table-condensed>thead>tr>th {*/
    /*background: transparent;*/
    /*border: 1px solid black;*/
/*}*/
/*.normal-invoice.table.table-striped.table-bordered.table-condensed>tbody>tr>td {*/
    /*background: white;*/
    /*border: 1px solid black;*/
/*}*/
/*@media print {*/
    /*.normal-invoice.table.table-striped.table-bordered.table-condensed>thead>tr {*/
        /*background: transparent !important;*/
    /*}*/
    /*.normal-invoice.table.table-striped.table-bordered.table-condensed>thead>tr>th {*/
        /*background: transparent !important;*/
        /*border: 1px solid black !important;*/
    /*}*/
    /*.normal-invoice.table.table-striped.table-bordered.table-condensed>tbody>tr>td {*/
        /*background: white !important;*/
        /*border: 1px solid black !important;*/
    /*}*/
/*}*/

/*@media print {*/
    /*@page {*/
        /*!* size: a4; *!*/
        /*margin-top: 0px;*/
    /*}*/
/*}*/