/*.table.table-inverse.customer-information>tbody>tr>td {*/
    /*background: transparent;*/
    /*border: 0;*/
/*}*/
/*.table.table-inverse.customer-information>tbody>tr:hover {*/
    /*background: #ffffff;*/
    /*border: 0;*/
    /*cursor: default;*/
/*}*/
/*.row.customer-information {*/
    /*background: #ffffff;*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
    /*margin-top: -1px;*/
    /*border-bottom: 1px solid #1c91d0;*/
    /*margin-bottom: 8px;*/
    /*padding-bottom: 13px;*/
/*}*/
/*.nav.nav-tabs.search-tab {*/
    /*background: #f1f1f1;*/
    /*height: 41px;*/
    /*border-bottom: 3px solid #1c91d0;*/
/*}*/
/*.nav.nav-tabs.search-tab li a {*/
    /*padding: 8px;*/
    /*line-height: 1.4;*/
/*}*/
