/*!** container/dynamic-tabs/tab.css **!*/

/*.rdTabWrapper.myWrapper{*/
    /*height: 100% !important;*/
    /*width: 100% !important;*/
    /*position: relative !important;*/
    /*margin-top: -12px !important;*/
/*}*/


/*span.rdTabAfter.myTabAfter{*/
    /*border-radius: 0px 2.5px 0px 0px !important;*/
    /*width: 25px !important;*/
    /*height: 26px !important;*/
    /*position: absolute !important;*/
    /*transform: skewX(30deg) !important;*/
    /*box-shadow: rgb(28, 145, 208) -1px 1px 0px inset, rgba(0, 0, 0, 0.1) 4px 0px 4px !important;*/
    /*background-image: linear-gradient(rgb(28, 145, 208), rgb(28, 145, 208)) !important;*/
    /*top: 0px !important;*/
    /*right: -14px !important;*/
/*}*/

/*li.rdTab.myTab.rdTabActive.react-draggable{*/
    /*background-image: linear-gradient(rgb(28, 145, 208), rgb(28, 145, 208)) !important;*/
    /*font-size: 13px;*/
    /*font-family: "Lucida Grande", "Segoe UI", Ubuntu, Cantarell, sans-serif;*/
    /*min-width: 0px;*/
    /*margin-left: 30px;*/
    /*z-index: 1;*/
    /*padding-left: 15px;*/
    /*flex: 2 1 0%;*/
/*}*/
/*li.rdTab.myTab.react-draggable{*/
    /*background-image: linear-gradient(rgb(28, 145, 208), rgb(28, 145, 208)) !important;*/
/*}*/
/*span.rdTabCloseIcon.tabCloseIcon{*/
    /*opacity: 0.8 !important;*/
/*}*/
/*li.rdTabAddButton{*/
    /*display:none;*/
/*}*/

/*span.rdTabBefore.myTabBefore{*/
    /*border-radius: 1.5px 0px 0px !important;*/
    /*width: 25px;*/
    /*left: -14px;*/
    /*height: 26px;*/
    /*position: absolute;*/
    /*transform: skewX(-30deg);*/
    /*box-shadow: rgb(28, 145, 208) 1px 1px 0px inset, rgba(0, 0, 0, 0.1) -4px 0px 4px !important;*/
    /*background-image: linear-gradient(rgb(28, 145, 208), rgb(28, 145, 208)) !important;*/
    /*top: 0px;*/
/*}*/

/*span.rdTabBarAfter.myTabBarAfter{*/
    /*left: 0px !important;*/
    /*height: 2px !important;*/
    /*position: absolute !important;*/
    /*top: 26px !important;*/
    /*background-color: rgb(28, 145, 208) !important;*/
    /*pointer-events: none !important;*/
    /*border-bottom: 1px solid rgb(28, 145, 208) !important;*/
    /*z-index: 2 !important;*/
    /*right: 0px !important;*/
/*}*/

/*li.rdTab.myTab.react-draggable>p.rdTabTitle.myTabTitle {*/
    /*color: #ffffffd6 !important;*/
/*}*/
/*li.rdTab.myTab.rdTabActive.react-draggable>p.rdTabTitle.myTabTitle {*/
    /*color: white !important;*/
    /*font-weight: bold !important;*/
/*}*/