/*.form-control {
    padding: 0px 12px;
}

.page-permision-table {
    margin-top: 10px;
    min-width: 100%;
    
}

.page-permision-table>thead>tr>th { 
    font-size: 13px;
    background: #DFE8F6;
    padding: 5px 10px;
    border: 1px solid rgb(255, 255, 255);
}

.page-permision-table>tbody>tr>td {
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid #ddd;
}

.margin-auto {
    margin: auto;
}

.col-padding-left-0 {
    padding-left: 0;
}

.a-no-link, .a-no-link:hover {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}


.lnk-change-password:hover {
    cursor: pointer;
    text-decoration: none;
}
*/