/*!***/
    /*containers/administration/index.css*/
 /**!*/

/*!* table *!*/
/*.custab{*/
    /*border: 1px solid #ccc;*/
    /*padding: 5px;*/
    /*margin: 2% 0;*/
    /*box-shadow: 3px 3px 2px #ccc;*/
    /*transition: 0.5s;*/
/*}*/
/*.custab:hover{*/
    /*box-shadow: 3px 3px 0px transparent;*/
    /*transition: 0.5s;*/
/*}*/
/*.custyle {*/
    /*margin-left: 0px !important;*/
/*}*/
/*.custyle tr {*/
    /*text-align: center;*/
    /*background: rgba(195, 217, 251, 0.42);*/
    /*border: 1px solid rgb(255, 255, 255);*/
/*}*/
/*.table-bordered>thead>tr>th {*/
    /*border: 1px solid rgb(255, 255, 255);*/
/*}*/
/*!*.table>thead>tr>th {*!*/
    /*!*padding: 0;*!*/
/*!*}*!*/
/*!*.table>tbody>tr>td {*!*/
    /*!*padding: 0;*!*/
/*!*}*!*/
/*.btnClear.btn.btn-default {*/
    /*background:lightgray;*/
    /*border:none;*/
    /*color:black;*/
/*}*/
/*.btn-info {*/
    /*width: 24px;*/
    /*margin-right: 4px;*/
    /*padding-bottom: 0;*/
    /*padding-top: 0;*/
/*}*/
/*.btn-danger {*/
    /*width: 24px;*/
    /*margin-right: 4px;*/
    /*padding-bottom: 0;*/
    /*padding-top: 0;*/
/*}*/
/*.header {*/
    /*padding: 8px;*/
    /*background: #dfe8f6;*/
    /*border-right: 0px solid white;*/
    /*margin-bottom: 8px;*/
/*}*/
/*.items-detail {*/
    /*padding: 0px;*/
/*}*/
/*h3.items-detail {*/
    /*background: #f1f1f1;*/
    /*padding: 7px;*/
/*}*/
/*form.wrap-full-form-detail {*/
    /*box-shadow: 0px -1px 1px 1px rgba(41, 97, 147, 0.31);*/
    /*padding: 10px;*/
/*}*/